@charset "ISO-8859-1";

#containerTable {
	border-top: 65px;
	width: 90%;
	margin: 0px auto;
}

#alert {
	width: 80%;
	margin: 0px auto;
	border-bottom: 25px;
	border-top: 25px;
}

#containerForm {
	width: 90%;
	align-items: center;
}

#bodySection {
	margin: 0px auto;
	align-items: stretch;
}

#justifyContentFlex {
	align-items: center;
	justify-content: center;
}

#containerSaveCancel {
	margin-top: 20px;
}

span {
	color: red;
}

html, body {
	height: 100%;
}

.bg-color {
	width: 100%;
	height: auto;
	min-height: 100% !important;
	background: #4e4376;
	background: -webkit-linear-gradient(to bottom, #2b5876, #4e4376);
	background: linear-gradient(to bottom, #2b5876, #4e4376);
}

body::after {
	content: "";
	background-image: url("assets/group.jpg");
	opacity: 0.1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.contenedor {
	width: 30%;
	margin: 0px auto;
	position: absolute;
	top: 20%;
	margin-left: 35%;
}

#log-in{
	width: 80%;
}
