@charset "ISO-8859-1";


#containerTable{
	border-top: 65px;
	width: 90%;
	margin: 0px auto;
	
}

#alert{
	width: 80%;
	margin: 0px auto;
	border-bottom: 25px;
	border-top: 25px;
}
#containerForm{
	
	width:90%;
	align-items: center;
}
#bodySection{
	width:80%;
	margin: 0px auto;
	align-items: stretch;
}
#justifyContentFlex {
	align-items: center;
	justify-content: center;
}