<!DOCTYPE html>
<html xmlns="w3.org/1999/xhtml" xmlns:th="thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sitio Web de subastas Online</title>

<!-- Place favicon.ico in the root directory -->
<link rel="shortcut icon" type="image/x-icon"
	th:href="@{/images/favicon.ico}">
	
<link rel="stylesheet" href="#" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" href="#" th:href="@{/css/all.min.css}">
<link rel="stylesheet" href="#" th:href="@{/css/basicStyle.css}">
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css"
	rel="stylesheet" type="text/css" />
</head>
<body>

	<div class="container-fluid">
		<br>
		<a th:href="@{/index}">
			<button id="cancel" type="button" class="mx-2 btn btn-danger">
				<i class="fas fa-times"></i> Atrás
			</button>
		</a>
		<div id="alert" class="alert alert-success" th:if="${mensaje!=null}"
			th:text="${mensaje}" role="alert"></div>
		<br>
	</div>
	
	<div class="container-fluid">
		<div class="row justify-content-center align-self-center">
			<div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3 h-100">

				<form class="text-center border border-light p-5"
					th:action="@{/upload}" th:object="${imgData}" method="POST"
					enctype="multipart/form-data">

					<p class="h4 mb-4">Alta de productos</p>

					<!-- Name -->
					<div class="input-group ">
						<div class="input-group-prepend">
							<div class="input-group-text">
								<i class="fa fa-user fa-fw"></i>
							</div>
						</div>
						<input type="text" class="form-control is-invalid"
							placeholder="Nombre del producto" th:field="*{name}">
						<div class="invalid-feedback order-last"
							th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
					</div>
					<br>
					
					<!-- Description -->
					<div class="input-group ">
						<div class="input-group-prepend">
							<div class="input-group-text">
								<i class="fa fa-user fa-fw"></i>
							</div>
						</div>
						<input type="text" class="form-control is-invalid"
							placeholder="Descripción del producto" th:field="*{description}">
						<div class="invalid-feedback order-last"
							th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
					</div>
					<br>
					<div class="input-group ">
						<input id="input" class="form-control is-invalid"
							placeholder="fecha y hora de expiración"
							th:field="*{expirationDate_aux}" />
					</div>
					<br>
					<!-- 	starting-price -->
					<div class="input-group ">
						<div class="input-group-prepend">
							<div class="input-group-text">
								<i class="fa fa-dollar-sign fa-fw"></i>
							</div>
						</div>
						<input type="text" class="form-control is-invalid"
							placeholder="Precio inicial" th:field="*{startingPrice}">
					</div>
					<br>
					<br>
					<div class="input-group ">
						<input name="imageFile" type="file">
						<!-- Explorador de archivos -->
					</div>
					<br>
					<!--Status-->
					<div class="input-group ">
						<div class="input-group-prepend">
							<div class="input-group-text">
								<i class="fa fa-eye fa-fw"></i>
							</div>
						</div>
						<select name="select-status" id="select-status"
							th:field="*{status}">
							<option value="ACTIVO">Activo</option>
							<option value="PAUSADO">Pausado</option>
						</select>
					</div>
					<button class="btn btn-info btn-block my-4" type="submit">Guardar</button>
				</form>
				<!-- Default form login -->
			</div>
		</div>
	</div>
	<script type="text/javascript" th:src="@{js/jquery-3.5.1.js}"></script>
	<script type="text/javascript" th:src="@{js/popper.js}"></script>
	<script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
	<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js"
		type="text/javascript"></script>
	<script type="text/javascript">
	$('#input').datetimepicker({
        uiLibrary: 'bootstrap4',
        format: 'yyyy-mm-dd hh:mm:ss' ,
        modal: true,
        footer: true
    });
	</script>
</body>
</html>