<!DOCTYPE html>
<html xmlns="w3.org/1999/xhtml" xmlns:th="thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sitio Web de subastas Online</title>

<!-- Place favicon.ico in the root directory -->
<link rel="shortcut icon" type="image/x-icon"
	th:href="@{/images/favicon.ico}">

<link rel="stylesheet" href="#" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" href="#" th:href="@{/css/all.min.css}">
<link rel="stylesheet" href="#" th:href="@{/css/basicStyle.css}">
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css"
	rel="stylesheet" type="text/css" />
</head>
<body>

	<div class="container-fluid">
		<br> <a th:href="@{/index}">
			<button id="cancel" type="button" class="mx-2 btn btn-danger">
				<i class="fas fa-times"></i> Atrás
			</button>
		</a>
		<div id="alert" class="alert alert-success" th:if="${mensaje!=null}"
			th:text="${mensaje}" role="alert"></div>
		<br>
	</div>

	<div class="container-fluid">
		<div class="row justify-content-center align-self-center">
			<div class="col col-sm-6 col-md-6 col-lg-4 col-xl-4 h-100">

				<form th:action="@{/upload}" th:object="${imgData}" method="POST"
					enctype="multipart/form-data">

					<p class="h4 mb-4" style="text-align: center">Alta de productos</p>
					<!-- Name -->

					<div class="form-group row">
						<label for="inputName" class="col-sm-2 col-form-label">Producto</label>
						<div class="col-sm-10">
							<input type="text" class="form-control is-invalid" id="inputName"
								placeholder="Introduce un nombre de producto" th:field="*{name}">
						</div>

						<div class="invalid-feedback order-last"
							th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
					</div>
					<br>

					<!-- Description -->
					<div class="form-group row">

						<label for="inputDescription" class="col-sm-2 col-form-label">Descripción</label>
						<div class="col-sm-10">
							<input type="text" class="form-control is-invalid"
								placeholder="Introduce una descripción"
								th:field="*{description}">
						</div>

						<div class="invalid-feedback order-last"
							th:if="${#fields.hasErrors('description')}"
							th:errors="*{description}"></div>
					</div>
					<br>
					<div class="form-group row">
						<label for="input" class="col-sm-2 col-form-label">Expiración</label>
						<div class="col-sm-10">
							<input id="input" class="form-control is-invalid"
								placeholder="Seleccione la fecha y hora de expiración"
								th:field="*{expirationDate_aux}" />
						</div>

					</div>
					<br>

					<!-- 	starting-price -->
					<div class="form-group row">
						<label for="inputPrice" class="col-sm-2 col-form-label">Precio</label>
						<div class="col-sm-10">
							<input type="text" id="inputPrice"
								class="form-control is-invalid"
								placeholder="Introduce el precio inicial"
								th:field="*{startingPrice}">
						</div>

					</div>
					<br>
					<div class="form-group row">
						<label for="customFile" class="col-sm-2 col-form-label">Imagen</label>
						<div class="custom-file col-sm-10">
							<input name="imageFile" type="file" class=" form-control custom-file-input"
								id="customFile"><label style="text-align: left"
								class="custom-file-label" for="customFile">Seleccione su
								imagen</label>
						</div>
						<!-- Explorador de archivos -->
					</div>
					<br>
					<!--Status-->
					<div class="form-group row">
						<label for="status" class="col-sm-2 col-form-label">Estado</label>
						<div class="col-sm-10">
							<select class="form-control" name="select-status"
								id="select-status" th:field="*{status}">
								<option value="ACTIVO">Activo</option>
								<option value="PAUSADO">Pausado</option>
							</select>
						</div>

					</div>
					<br>
					<div class="form-group row">
						<label for="select-category" class="col-sm-2 col-form-label">Categoría
						</label>
						<div class="col-sm-10">
							<select class="form-control" name="select-category"
								id="select-category" th:field="*{category}">
								<option value="video_juegos">Video Juegos</option>
								<option value="libros">Libros</option>
								<option value="electrodomesticos">Electrodomesticos</option>
								<option value="all">Otros</option>
							</select>
						</div>
					</div>

					<button class="btn btn-info btn-block my-4" type="submit">Guardar</button>
				</form>
				<!-- Default form login -->
			</div>
		</div>
	</div>
	<script type="text/javascript" th:src="@{js/jquery-3.5.1.js}"></script>
	<script type="text/javascript" th:src="@{js/popper.js}"></script>
	<script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
	<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js"
		type="text/javascript"></script>
	<script type="text/javascript">
	$(".custom-file-input").on("change", function() {
		  var fileName = $(this).val().split("\\").pop();
		  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
		});
	$('#input').datetimepicker({
        uiLibrary: 'bootstrap4',
        format: 'yyyy-mm-dd hh:mm:ss' ,
        modal: true,
        footer: true
    });
	</script>
</body>
</html>