<!DOCTYPE html>
<html xmlns="w3.org/1999/xhtml" xmlns:th="thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sitio Web de subastas Online</title>
<link rel="icon" type="image/vnd.microsoft.icon"
	th:href="@{img/favicon.ico}">
<link rel="stylesheet" href="#" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" href="#" th:href="@{/css/all.min.css}">
<link rel="stylesheet" href="#" th:href="@{/css/basicStyle.css}">
</head>
<body>

	<div class="container-fluid">
		<br>
		<a th:href="@{/users}">
			<button id="cancel" type="button" class="mx-2 btn btn-danger">
				<i class="fas fa-times"></i> Atrás
			</button>
		</a>
		<div id="alert" class="alert alert-success" th:if="${mensaje!=null}"
			th:text="${mensaje}" role="alert"></div>
		<br>
	</div>

	<div class="container-fluid">
		<div class="row justify-content-center align-self-center">
			<div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3 h-100">
				<!-- Default form login -->
				<form class="text-center border border-light p-5"
					th:action="@{/users/addUser}" th:object="${userData}" method="POST">

					<p class="h4 mb-4">Registro de Usuario</p>

					<!-- Name -->
					<input type="text" id="name" class="form-control mb-4"
						placeholder="Nombre" th:field="*{name}">

					<!-- Email -->
					<input type="email" id="email" class="form-control mb-4"
						placeholder="Correo electrónico" th:field="*{email}">

					<!-- Address -->
					<input type="text" id="address" class="form-control mb-4"
						placeholder="Dirección" th:field="*{address}">

					<!-- Password -->
					<input type="password" id="password" class="form-control mb-4"
						placeholder="Contraseña" th:field="*{password}">

					<!-- Password Confirmation-->
					<input type="password" id="passwordConfirmation"
						class="form-control mb-4" placeholder="Confirma contraseña" 
						th:field="*{confirmPassword}">
					
					<button class="btn btn-info btn-block my-4" type="submit">Registrarse</button>

					<a href="#" class="mx-2" role="button">
						<i class="fab fa-facebook-f light-blue-text"></i>
					</a> 
					<a href="#" class="mx-2" role="button">
						<i class="fab fa-twitter light-blue-text"></i>
					</a> 
					<a href="#" class="mx-2" role="button">
						<i class="fab fa-linkedin-in light-blue-text"></i>
					</a> 
					<a href="#" class="mx-2" role="button">
						<i class="fab fa-github light-blue-text"></i>
					</a>

				</form>
				<!-- Default form login -->
			</div>
		</div>
	</div>

	<script type="text/javascript" th:src="@{js/jquery-3.5.1.js}"></script>
	<script type="text/javascript" th:src="@{js/popper.js}"></script>
	<script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
</body>
</html>