<!DOCTYPE html>
<html xmlns="w3.org/1999/xhtml" xmlns:th="thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sitio Web de subastas Online</title>

<!-- Place favicon.ico in the root directory -->
<link rel="shortcut icon" type="image/x-icon"
	th:href="@{/images/favicon.ico}">
	
<link rel="stylesheet" href="#" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" href="#" th:href="@{/css/all.min.css}">
<link rel="stylesheet" href="#" th:href="@{/css/basicStyle.css}">
</head>
<body>

	<div class="container-fluid">
		<br>
		<a th:href="@{/users}">
			<button id="cancel" type="button" class="mx-2 btn btn-danger">
				<i class="fas fa-times"></i> Atrás
			</button>
		</a>
		<div id="alert" class="alert alert-success" th:if="${mensaje!=null}"
			th:text="${mensaje}" role="alert"></div>
		<br>
	</div>
	
	<br>
	<div class="container-fluid">
		<div class="row justify-content-center align-self-center">
			<div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3 h-100">
				<!-- Default form login -->
				<form class="text-center border border-light p-5"
					th:action="@{/users/edit/{id}(id=${userData.id})}" 
					th:object="${userData}" method="POST">

					<p class="h4 mb-4">Actualizar Usuario</p>

					<!-- Name -->
					<div class="input-group ">
						<div class="input-group-prepend">
		                    <div class="input-group-text"><i class="fa fa-user fa-fw"></i></div>
		                </div>
		                <input type="text" class="form-control is-invalid" placeholder="Nombre" 
		                	th:field="*{name}">
		                <div class="invalid-feedback order-last" th:if="${#fields.hasErrors('name')}"
		                	th:errors="*{name}">
		                </div>
					</div>
					<br th:if="${!#fields.hasErrors('name')}">
					<!-- Email -->
					<div class="input-group ">
						<div class="input-group-prepend">
		                    <div class="input-group-text"><i class="fa fa-envelope fa-fw"></i></div>
		                </div>
		                <input type="email" class="form-control is-invalid" placeholder="Correo electrónico" 
		                	th:field="*{email}">
		                <div class="invalid-feedback order-last" th:if="${#fields.hasErrors('email')}"
		                	th:errors="*{email}">
		                </div>
					</div>
					<br th:if="${!#fields.hasErrors('email')}">
					<!-- Address -->
					<div class="input-group ">
						<div class="input-group-prepend">
		                    <div class="input-group-text"><i class="fa fa-edit fa-fw"></i></div>
		                </div>
		                <input type="text" class="form-control is-invalid" placeholder="Dirección" 
		                	th:field="*{address}">
		                <div class="invalid-feedback order-last" th:if="${#fields.hasErrors('address')}"
		                	th:errors="*{address}">
		                </div>
					</div>
					<br th:if="${!#fields.hasErrors('address')}">
					<!-- Password -->
					<div class="input-group ">
						<div class="input-group-prepend">
		                    <div class="input-group-text"><i class="fa fa-key fa-fw"></i></div>
		                </div>
		                <input type="password" class="form-control is-invalid" placeholder="Contraseña" 
		                	th:field="*{password}">
		                <div class="invalid-feedback order-last" th:if="${#fields.hasErrors('password')}"
		                	th:errors="*{password}">
		                </div>
					</div>
					<br th:if="${!#fields.hasErrors('password')}">
					<!-- Password Confirmation-->
					<div class="input-group ">
						<div class="input-group-prepend">
		                    <div class="input-group-text"><i class="fa fa-key fa-fw"></i></div>
		                </div>
		                <input type="password" class="form-control is-invalid" placeholder="Confirma contraseña" 
		                	th:field="*{confirmPassword}">
		                <div class="invalid-feedback order-last" th:if="${#fields.hasErrors('confirmPassword')}"
		                	th:errors="*{confirmPassword}">
		                </div>
					</div>

					<button class="btn btn-info btn-block my-4" type="submit">Actualizar</button>

					<a href="#" class="mx-2" role="button">
						<i class="fab fa-facebook-f light-blue-text"></i>
					</a> 
					<a href="#" class="mx-2" role="button">
						<i class="fab fa-twitter light-blue-text"></i>
					</a> 
					<a href="#" class="mx-2" role="button">
						<i class="fab fa-linkedin-in light-blue-text"></i>
					</a> 
					<a href="#" class="mx-2" role="button">
						<i class="fab fa-github light-blue-text"></i>
					</a>

				</form>
				<!-- Default form login -->
			</div>
		</div>
	</div>

	<script type="text/javascript" th:src="@{/js/jquery-3.5.1.js}"></script>
	<script type="text/javascript" th:src="@{/js/popper.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>