<!DOCTYPE html>
 <html xmlns="w3.org/1999/xhtml" xmlns:th="thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Sitio Web de subastas Online</title>
	<link rel="icon" type="image/vnd.microsoft.icon" th:href="@{img/favicon.ico}">
	<link rel="stylesheet" href="#" th:href="@{css/bootstrap.css}">
	<link rel="stylesheet" href="#" th:href="@{css/all.min.css}">
</head>
<body>

	<section class="Form my-4 mx-5">
		<div class="container">
			<div id="loginForm" class="row-login row no-gutters ">
				Página de Inicio
			</div>
		</div>
	</section>

	<script type="text/javascript" th:src="@{js/jquery-3.5.1.js}"></script>
	<script type="text/javascript" th:src="@{js/popper.js}"></script>
	<script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
</body>
</html>