<!DOCTYPE html>
<html xmlns="w3.org/1999/xhtml" xmlns:th="thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sitio Web de subastas Online</title>
<link rel="icon" type="image/vnd.microsoft.icon"
	th:href="@{img/favicon.ico}">
<link rel="stylesheet" href="#" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" href="#" th:href="@{/css/all.min.css}">
<link rel="stylesheet" href="#" th:href="@{/css/basicStyle.css}">
</head>
<body>

	<section class="row-login my-4 px-5 py-5 w-100">
		<div class="container">
			<div class="d-flex justify-content-center">
				<h2>Lista de Usuarios del Sistema</h2>
			</div>
		</div>
		
		<div class="ml-2 d-flex justify-content-between">
            <a class="btn btn-secondary" th:href="@{/users/addUser}">Agregar Usuario</a>
        </div>

		<!--div class="table-responsive mt-5">
			<table class="table table-bordered table-hover table-sm">
				<thead>
					<tr>
						<th>#</th>
						<th>Nombre</th>
						<th>Correo</th>
						<th>Dirección</th>
						<th class="text-center">Editar</th>
						<th class="text-center">Eliminar</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user, iterator : ${users}"
						th:style="${iterator.odd}? 'color: black' : 'color:grey'">
						<td th:text="${iterator.index + 1}"></td>
						<td th:text="${user.name}"></td>
						<td th:text="${user.email}"></td>
						<td th:text="${user.address}"></td>
						<td class="text-center"><a
							th:href="@{/users/edit/{id}(id=${user.id})}"> <span
								class="fas fa-edit text-success"></span></a></td>
						<td class="text-center"><a
							th:href="@{/users/delete/{id}(id=${user.id})}"> <span
								class="fas fa-times"></span></a></td>
					</tr>
				</tbody>
			</table>
		</div-->
		
		
	</section>
	
	<div id="containerTable">
	<div id="alert"class="alert alert-success" th:if="${mensaje!=null}" th:text="${mensaje}" role="alert">
			
	</div>
		<table id="tableUser" class="table table-striped ">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Nombre</th>
					<th scope="col">Correo</th>
					<th scope="col">Dirección</th>
					<th scope="col">Editar</th>
					<th scope="col">Eliminar</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="user, iterator : ${users}"
						th:style="${iterator.odd}? 'color: black' : 'color:grey'">
						<td th:text="${iterator.index + 1}"></td>
						<td th:text="${user.name}"></td>
						<td th:text="${user.email}"></td>
						<td th:text="${user.address}"></td>
						<td class="text-center"><a
							th:href="@{/users/edit/{id}(id=${user.id})}"> <span
								class="fas fa-edit text-success"></span></a></td>
						<td class="text-center"><a
							th:href="@{/users/delete/{id}(id=${user.id})}"> <span
								class="fas fa-times"></span></a></td>
					</tr> 
			</tbody>
		</table>
		
		</div>
	<script type="text/javascript" th:src="@{js/jquery-3.5.1.js}"></script>
	<script type="text/javascript" th:src="@{js/popper.js}"></script>
	<script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
</body>
</html>